# Core dependencies
streamlit
numpy
Pillow
opencv-python-headless
fpdf

# Machine learning
ultralytics
torch
torchvision

# Additional utilities
python-dateutil
tqdm
matplotlib
pandas

# Streamlit plugins
streamlit-option-menu
streamlit-lottie

